parameters:


database:
	dsn: 'mysql:host=mysql;dbname=product'
	user: product
	password: product

session:
	expiration: 14 days

application:
        mapping:
            Front: App\FrontModule\Presenters\*Presenter
            Admin: App\AdminModule\Presenters\*Presenter
            Error: App\Presenters\*Presenter
            *: App\*Module\Presenters\*Presenter

security:
	users:
		admin: admin