parameters:


database:
	dsn: 'mysql:host=mysql;dbname=product'
	user: product
	password: product

services:
    # Admin
    - App\AdminModule\Form\ProductFormFactory
    - App\AdminModule\Model\ProductManager

application:
        mapping:
            Front: App\FrontModule\Presenters\*Presenter
            Admin: App\AdminModule\Presenters\*Presenter
            Error: App\Presenters\*Presenter
            *: App\*Module\Presenters\*Presenter