services:
	# Router
	- App\Router\RouterFactory::createRouter

	# Admin
	- App\AdminModule\Form\FormFactory
	- App\AdminModule\Form\ProductFormFactory
	- App\AdminModule\Model\ProductManager
	- App\AdminModule\Form\CategoryFormFactory
	- App\AdminModule\Model\CategoryManager
	- App\AdminModule\Form\TagFormFactory
	- App\AdminModule\Model\TagManager
	- App\AdminModule\Model\ProductTagManager

	# Front
	- App\FrontModule\Model\ProductManager

	# External
	- App\External\ExchangeRateCnb