parameters:


database:
	dsn: 'mysql:host=mysql;dbname=product_test'
	user: root
	password: root

application:
        mapping:
            Front: App\FrontModule\Presenters\*Presenter
            Admin: App\AdminModule\Presenters\*Presenter
            Error: App\Presenters\*Presenter
            *: App\*Module\Presenters\*Presenter