{block title}
    <h1>Category Add</h1>
{/block}
{block content}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a n:href="Category:default" class="btn btn-sm btn-outline-secondary"><span data-feather="arrow-left" class="text-success"></span> Back</a>
        </div>
    </div>

{control categoryForm}
{/block}